/* NAVBAR E SEUS ELEMENTOS */

*{
    margin: 0;
    border: 0px;
}

  nav{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #000000;
    height: 60px;    
    border:0px;
    gap: 40px;
    font-family: "Kanit", sans-serif;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border:1.5px solid rgba(255,255,255,0.18);
    padding: 0px;
}

#Logo{
    color: #ffffff;
}

a{
    color:rgb(151, 151, 151);
    text-decoration: none;
    justify-content:center;
    margin: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    }

a:hover{
    color: #ffffff;
    transform:scale(1.05);
    transition: .2s ;
}
#icones{
    color: yellow;
    
}
#html{
    color: rgb(106, 106, 255);
}
#css{
    color: orangered;
}


/* INICIANDO BODY*/
*{
    padding: 0px;
    border: 0px;
    
}



section .topo-site{
    padding: 40px 4%;
    color: #ffffff;
    justify-content: center;
   
}

.intro{
    font-family: "saira", sans-serif;
    font-size: 3.7rem;
    background-color: #00011a;
    
    display: flex;
    flex-direction:column;


    height: 600px;
    border: 0px 15px;
    padding: 0px 200px;
    
	   
   
}

.intro-title{
    font-size: 50px;
    font-weight: bold;
    color: #ffeeee;
     
    
    
    
    
}
.intro-text{
    color: #f0f0f0;
}

#icon-linkedin{
    color: #f0f0f0;
    
}

.container{
    display: inline-flex;
}
.container .estatico{
    color: #f0f0f0;
    font-size: #fff;
    font-weight: 200;
}
.container .dinamico{
    margin-left: 15px;
}
.dinamico li{
    text-shadow: rgb(242, 247, 0) 7px 5px 20px;
    color: yellow;
    list-style: none;
    font-size: 30px;
    font-weight: 500;
    

}

.dinamico li span {
    
    position: relative;
    display: inline-block; /* Certifique-se de que o span ocupa apenas o espaço do conteúdo */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a largura do span */
    white-space: nowrap; /* Evita quebra de linha */
    border-right: 2px solid rgb(255, 255, 255); /* Cursor de digitação */
    animation: typing 4s steps(20) 1s 1 normal both, blink 0.7s steps(1) infinite;
}



@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}
#icones-home{   /*icone do linkedin*/
    color: rgb(168, 168, 168);
    font-size: 40px; 
    margin-left: 2px;
    margin:  10px 10px 10px;      
}
.img-topo {
    flex: 1;
    display: flex;
    justify-content:end;
    
    
}

.img-topo img {
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: #f0f0f0;
    opacity: 0,2;
    filter: blur(0rem);
    z-index:1;
   
}

.img-topo{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*2seçao */
.SOBRE{
    background-color: #00011a;
    
}

.img-sobre{
    display: flex;
    flex-direction: row;
    justify-content:space-around  
}
#japan{
    width: 300px;
    height: auto;
   
    
}
.interface{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  






    


    



    
    