/* NAVBAR E SEUS ELEMENTOS */

*{
    margin: 0;
    border: 0px;
}

.up{
    background-color: #00011a;
    box-shadow: rgba(61, 61, 61, 0.25) 0px 4px 4px;
    position: fixed;
    width: 100%;
    padding:0.5rem;
    top: 0px;
    z-index: 2;
}
.centralizer-topo{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 70px;
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border:1.5px solid rgba(255,255,255,0.18);
    padding: 0px;
    
}

.centralizer{
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
}
*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;

}

.navbar{
    display: flex;
    gap: 1.5rem;
}
.ul{
    list-style: none;
}





a:hover{
    color: #ffffff;
    transform:scale(1.05);
    transition: .2s ;
}
#icones{
    color: yellow;
    
}
#html{
    color: rgb(106, 106, 255);
}
#css{
    color: orangered;
}


/* INICIANDO BODY*/


section.top-site {
    padding: 40px 4%; 
   }
   
.flex{
    Display: Flex;
    justify-content:space-around;
   }
   
   section.topo-site .flex {
    align-items: center;
    justify-content: center;
}
   
.action{
    width: 100%;
    Display: Flex;
    -webkit-box-pack:justify;
    align-items: center;
    font-family: "sans-serif";
    Font-size: 3.7em;
    background-color: #00011a;
    height: 600px;
    margin: 2rem 0px;
    border: 0px;


}

   
.intro-title {
    display: flex;
    flex-direction:column;
    justify-content: center;

    
}
   
.container {
    display: flex;
    gap: 10px; /* Adjust gap as needed */
}
   

   
#icones-home {
    margin-background: 20px; /* Adjust margin as needed */
}
   
.img-top{
    max-width: 100%; /* Ensures the image is sized correctly */
    height: auto;

}

.intro-title{
    font-size: 50px;
    font-weight: bold;
    color: #ffeeee;

       
    
}
.intro-text{
    color: #f0f0f0;
}

#icon-linkedin{
    color: #f0f0f0;
    
}

.container{
    display: inline-flex;
}
.container .estatico{
    color: #f0f0f0;
    font-size: #fff;
    font-weight: 200;
}
.container .dinamico{
    margin-left: 15px;
}
.dinamico li{
    text-shadow: rgb(242, 247, 0) 7px 5px 20px;
    color: yellow;
    list-style: none;
    font-size: 30px;
    font-weight: 500;
    

}

.dinamico{  
    position: relative;
    display: inline-block; /* Certifique-se de que o span ocupa apenas o espaço do conteúdo */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a largura do span */
    white-space: nowrap; /* Evita quebra de linha */
    border-right: 2px solid rgb(255, 255, 255); /* Cursor de digitação */
    animation: typing 4s steps(20) 1s 1 normal both, blink 0.7s steps(1) infinite;
}



@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

.img-topo{
    flex: 1;
  
    
    
}


.img-topo{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    

}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*2seçao */
.SOBRE{
    background-color: #00011a;
    
}

.img-sobre{
    display: flex;
    flex-direction: row;
    justify-content:end;
    padding: 0 200px;
}
#japan{
    width: 300px;
    height: auto;
   
   
    
}
.interface{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  






    


    



    
    