/* NAVBAR E SEUS ELEMENTOS */

*{
    margin: 0;
    border: 0px;
}
  nav{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #000000;
    height: 60px;    
    border:0px;
    gap: 40px;
    font-family: "Kanit", sans-serif;
    box-shadow: 10px 10px 5px rgb(99, 0, 138);


}
#Logo{
    color: #ffffff;
}

a{
    color:rgb(151, 151, 151);
    text-decoration: none;
    justify-content:center;
    margin: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    }

a:hover{
    color: #ffffff;
    transform:scale(1.05);
    transition: .2s ;
}
#icones{
    color: yellow;
    
}
#html{
    color: rgb(106, 106, 255);
}
#css{
    color: orangered;
}


/* INICIANDO BODY*/



section .topo-site{
    padding: 40px 4%;
    color: #ffffff;
    justify-content: center;
   
}

.intro{
    background-image: url("img/Design\ sem\ nome\ \(1\).png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;

    height: 600px;
	
	   
   
}

.titulo{
    font-size: 50px;
    font-weight: bold;
    color: #f0f0f0; 
    flex-direction: column ;
}







  






    


    



    
    